#root {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  display: flex;
  /* flex-direction: column; */
  min-height: 100vh; 
}

.App {
  flex: 1;
  display: flex;
  min-height: 100vh;
}

.Navbar {
  background-color: #333; /* Set your desired background color */
  color: #fff; /* Set your desired text color */
  padding: 0.7rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.Navbar ul {
  list-style: none;
  display: flex;
  padding: 0;
  justify-content: center;
  /* align-items: center; */
}

.Navbar li {
  padding: 0 2rem;
}

.Link {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1.5rem 2rem;
}


.Layout {
  display: flex;
  align-items: center;
  justify-content: center; /* literally no idea why this won't work */
  padding: 5rem;
}

.Card {
  border-radius: 10px;
  border-style: double;
  border-color: #00000043;
  height: auto;
  box-shadow: 0 0 5px 2px #faf9f94d;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  width: auto;
  background-color: #dddbdb
}

.male {
  background-color: #bbdaf7
}

.female {
  background-color: #ffbbf4
}

.gallery-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.submit {
  box-shadow: rgb(0, 0, 0) 0 0 1.5em;
  transition: box-shadow 0.7s ease;
}

.plain {
  box-shadow: rgba(255, 255, 255, 0) 0 0 1.5em;
  transition: box-shadow 0.7s ease;
}